<h2>{{theCeleb.name}}</h2>
<h3>Occupation: {{theCeleb.occupation}}</h3>
<p>CatchPhrase: {{theCeleb.catchPhrase}}</p>

<a href="/celebrities/{{theCeleb._id}}/edit">Edit the Celebrity</a>

<a href="/celebrities">Back to celebrities list</a>