<form action="/celebrities/{{celeb._id}}/update" method="POST">
<label for="">Name:</label>
  <input type="text" name="name" id="" value="{{celeb.name}}">
  <label for="">Occupation:</label>
  <input type="text" name="occupation" id="" value="{{celeb.occupation}}">
  <label for="">Catch Phrase:</label>
  <input type="text" name="catchPhrase" id="" value="{{celeb.catchPhrase}}">
  <button type="submit">Save the changes</button>

</form>
